.one{
    font-family: comic;
   
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
   background: #eeeeee;
   
    display: inline-block;
    
    min-height: 100px;

    box-shadow:0px 0px 5px 5px #C9C9C9;
   
    margin: 10px;
    
}

.panel1 {
    display: inline-block;
    background: #ffffff;
    min-height: 100px;
    height: 100px;
    box-shadow:0px 0px 5px 5px #C9C9C9;
   
    margin: 10px;
    
}

.panel2 {
    min-width: 245px;
    width: 245px;
}



.center {
    text-align: center;
   color:lightgreen; 
   
   ;
}

.text-big {
    font-size: 700%;
    text-decoration:blink;
    text-shadow:4px 4px 8px blue;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 0px;
    width :0px;
}

 
  
.container{
    
    margin:0 auto;
    color:black;
    font:sans-serif;
    padding-top:60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:blue;
}

