 
.one{
    font-family: comic;
   
   
    padding-left: 20px;
    padding-right: 20px;
    
    background-image:url("webimg.jpg");
   
  



    display: inline-block;
    min-height: 300px;
    height: 200px;
    box-shadow:0px 0px 2px 2px #C9C9C9;
    width:2000;
    min-width: 1280px;
    margin: 10px;
   
}



.panel2 {
    display: inline-block;
    min-height: 510;
    height: 120px;
    box-shadow:0px 0px 5px 5px #C9C9C9;
    width:2000;
    margin: 10px;
    padding-left: 10px;
    padding-right: 20px;
    min-width: 510px;

    
}


.dropbtn {
    background-color: lightgreen;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color:#3e8e41 ;
    
}

.dropdown {
    position:fixed;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}


.center {
    text-align:center;
   color:white; 
   
   ;
}

.text-big {
    font-size: 500%;
    text-decoration:blink;
    text-shadow:4px 4px 8px black;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 0px;
    width :0px;
}

 
  
.container{
    
    margin:0 auto;
    color:black;
    font:sans-serif;
    padding-top:60px;
    padding-left: 20px;
    padding-right: 20px;
   
}

