.one{
    font-family: comic;
   
   
    padding-left: 20px;
    padding-right: 20px;
   background: #eeeeee;
   
    
    



    display: inline-block;
    min-height: 278px;
    height: 100px;
    box-shadow:0px 0px 10px 10px #C9C9C9;
   width:2000;
    min-width: 1280px;
    
    margin: 10px;
    
}

.panel2 {
    display: inline-block;
    min-height: 400px;
    height: 100px;
    box-shadow:0px 0px 10px 10px #C9C9C9;
   width:2000;
    margin: 5px;
    
    min-width: 500px;
    
}



.center {
    text-align: center;
   color:lightgreen; 
   
   ;
}

.text-big {
    font-size: 850%;
    text-decoration:blink;
    text-shadow:4px 4px 8px blue;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 0px;
    width :0px;
}

 
  
.container{
    
    margin:0 auto;
    color:black;
    font:sans-serif;
    padding-top:60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:blue;
}

